<!-- 首页 -->
<%- include('header') %>
<div id="container" class="bs-docs-header">
  <div class="container">
    <h1>首页</h1>
    <p>
      本demo简单演示了如何使用Express 4.x 与mongodb
      实现增删改查等实现web网站最基本的功能
    </p>
  </div>
</div>
<div class="container" style="margin-top:30px">
  <div class="row">
    <a href="/add" class="btn btn-primary">
      添加一条数据
    </a>
  </div>
  <div class="row">
    <h3>数据列表</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>uid</th>
            <th>title</th>
            <th>content</th>
            <th>createTime</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% if(demos.length==0) {%>
            <tr>
              <td colspan="6" style="text-align:center">
                <i>当前没有记录</i>
              </td>
            </tr>
          <%}else{%>

          <%}%>
          <% demos.forEach(function(demo){ %>
            <tr>
              <td><%= demo._id%></td>
              <td><%= demo.uid?demo.uid:'匿名'%></td>
              <td><%= demo.title?demo.title:'无题'%></td>
              <td><%= demo.content?demo.content:'无内容'%></td>
              <td><%= demo.createTime?demo.createTime:'无时间'%></td>
              <td>
                <a href="javascript:;" class="del-a" data-id="<%= demo._id%>">删除</a>
                <a href="/update?id=<%= demo._id%>">修改</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
  $('.del-a').click(function(){
    if(confirm('您确定要删除该条记录吗？')){
      let id=$(this).data('id');
      window.location.href=`/del?id=${id}`;
    }
  })
</script>
<%- include('footer') %>
